[Unit]
Description=Adjust latency timers for PCI peripherals

[Service]
Type=oneshot
ExecStart=/usr/bin/pci-latency.sh

[Install]
WantedBy=multi-user.target
