# By Boria138

[Unit]
Description=Service for optimizing kernel settings
Wants=kernel-tweaks.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/kernel-tweaks.sh

[Install]
WantedBy=multi-user.target
