# By Boria138

[Unit]
Description=A timer to start the kernel tuning service every fifteen minutes
Requires=kernel-tweaks.service

[Timer]
Unit=kernel-tweaks.service
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
